html {
    height: 100%;
}
body {
    font-family: verdana, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(64, 129, 241), rgb(231, 237, 255)); 
    text-align:center;
}

#optionsbox {
    padding-top:30px; padding-bottom:30px;
    background-color: rgb(255, 111, 33);
    float: center;
    width: 35em;
    box-shadow: 10px 10px 5px rgb(75, 75, 75);
}

.container {
    margin: 0 auto;
}

h1 {
    font-size: 45px;
}

h3 {
    margin: 30px auto 30px auto;
    font-size: 25px;
}


#callToAction {
    background-color: rgb(64, 129, 241);
    border-radius: 25px;
    width: 250px;
    border: 2px solid rgb(4, 4, 119);
    font-size: 25px;
}

#callToAction:hover {
    background-color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:visited {
    color: rgb(4, 4, 119);
}

code {
    background-color: lightgrey;
}